#myCanvas {
  background-color: black;
}

#statement{
  
   font-size: 14px;
  border: 1px;
}
#square, #disk {
  
  background-color: #ADD8E6;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    #display: inline-block;
    font-size: 14px;
    color: #333333;
    margin: 2px 1px;
    cursor: pointer;
  
}
#newSet,#drawV, #drawE, #colorV, #clear, #show {
  
  background-color: #ADD8E6;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    color: #333333;
    margin: 2px 1px;
    cursor: pointer;
}

#t1,#t2,#t3,#t4,#t5, #t6, #t7,#t8, #t9, #t10, #t11, #t12,#t13,#t14,#t15 {
  font-size: 14px;
}

#t1,#demo1{
  display:inline;
}

#t2,#demo2{
  display:inline;
}

#t4,#demo4{
  display:inline;
}

#t5,#demo5{
  display:inline;
}

#t3,#demo3{
  display:inline;
}

#t6,#demo6{
  display:inline;
}

#t7,#demo7{
  display:inline;
}

#t8,#demo8{
  display:inline;
}

#t9,#demo9{
  display:inline;
}

#t10,#demo10{
  display:inline;
}

#t11,#demo11{
  display:inline;
}

#t12,#demo12{
  display:inline;
}
#t13,#demo13{
  display:inline;
}
#t14,#demo14{
  display:inline;
}

#t15,#demo15{
  display:inline;
}


#formt1, #vertexnum{
  display:inline;
}

#formt2, #averagedegree{
  display:inline;
}


#formt1, #formt2{
  font-size: 14px;
 
}



